@def baseColor #BDA21D;
@def leftColor #FFFEFC;
@def leftColor2 #282F36;
@def rightColor #BFBC5B;
@def rightColor2 #D2E098;
@def backgroundColor rightColor2;
@def slideColor leftColor;
@def headerColor leftColor2;
@def headerText slideColor;
@def slideHeaderColor leftColor2;
@def titleColor baseColor;
@def sectionTextColor leftColor2;

body {
	background: backgroundColor;
}

.presentationHeader {
	color: slideHeaderColor;
}

.presentationHeader a,.presentationHeader a:visited,.presentationHeader a:hover {
	border-bottom: 2px solid slideHeaderColor;
}

div.slide {
	background-color: slideColor;
	border: 1px solid headerColor;
	box-shadow: 5px 5px 10px headerColor;
}

@sprite div.header {
	gwt-image: "headerLogo";
	width: auto;
	background-color: headerColor;
	color: headerText;
}

.intro h1 {
	color: titleColor;
}

.intro h2 {
	color: titleColor;
}

h2 {
	color: titleColor;
}

div.section {
	color: sectionTextColor;
}

a,a:visited,a:hover {
	border-bottom: 2px solid sectionTextColor;
}

.tag {
	font-family: 'Arial';
	color: sectionTextColor;
	display: inline-block;
	padding: 6px 10px 3px 10px;
	font-size: 25px;
	line-height: 30px;
	text-shadow: none;
	letter-spacing: 0;
	bottom: 10px;
	position: relative;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background: slideColor;
	box-shadow: rgba(40, 47, 54, 0.1) 0 2px 5px;
	-webkit-box-shadow: rgba(40, 47, 54, 0.1) 0 2px 5px;
	-moz-box-shadow: rgba(40, 47, 54.1) 0 2px 5px;
	background: literal("-webkit-gradient(linear, left top, left bottom, from(#BFBC5B), to(#D2E098) )");
	background-color: #BFBC5B;
	background: literal("-moz-linear-gradient(left top, #BFBC5B, #D2E098)");
}

