@def slideTitles #8f1e1c;
@def slideBackground #FFFFFF;
@def presentationBackground #d7cbb5;
@def slideContent #2a2a2a;

@def slideColor slideBackground;
@def backgroundColor presentationBackground;
@def headerColor slideContent;
@def headerText slideBackground;
@def slideHeaderColor slideContent;
@def titleColor slideTitles;
@def sectionTextColor slideContent;

body {
	background: backgroundColor;
}

.presentationHeader {
	color: slideHeaderColor;
}

.presentationHeader a,.presentationHeader a:visited,.presentationHeader a:hover {
	border-bottom: 2px solid slideHeaderColor;
}

div.slide {
	background-color: slideColor;
	border: 1px solid headerColor;
	box-shadow: 5px 5px 10px headerColor;
}

@sprite div.header {
	gwt-image: "headerLogo";
	width: auto;
	background-color: headerColor;
	color: headerText;
}

h1 {
	color: titleColor;
}

h2 {
	color: titleColor;
}

div.section {
	color: sectionTextColor;
}

a,a:visited,a:hover {
	border-bottom: 2px solid sectionTextColor;
}

.tag {
	font-family: 'Arial';
	color: sectionTextColor;
	display: inline-block;
	padding: 6px 10px 3px 10px;
	font-size: 25px;
	line-height: 30px;
	text-shadow: none;
	letter-spacing: 0;
	bottom: 10px;
	position: relative;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background: slideColor;
	box-shadow: rgba(40, 47, 54, 0.1) 0 2px 5px;
	-webkit-box-shadow: rgba(40, 47, 54, 0.1) 0 2px 5px;
	-moz-box-shadow: rgba(40, 47, 54.1) 0 2px 5px;
	background: literal("-webkit-gradient(linear, left top, left bottom, from(#C4baa4), to(#e5dbc5) )");
	background-color: #e5dbc5;
	background: literal("-moz-linear-gradient(left top, #C4baa4, #e5dbc5)");
}

